body {
    /* How to apply border in css */
    background-color: rgb(255, 54, 0);
    background: linear-gradient(red, blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/Focus_Cherry.png);
    background-repeat: no-repeat;
    background-repeat: fixed;
    background-position: center;
    background-size: cover;



    /* background linear-gradient(color, color)  | Is to apply colors-mix in the site of your preference
    background-repeat: no-repeat  | Is to apply how many repeat something you applied before
    background-attachment:  | anexed the color or image of the background
    background-image:  | Is to apply images on the background in the site
    background-position:  | Is to apply the position of the background in the image.Example: left,right,up.center and down
    background-size:    | Is to apply the size of the image, color of the background the site. */


}

h1 {








    /* How to apply border in css */
    border-style: solid;
    border-width: 5px;
    border-color: chartreuse;
    border-radius: 10px;
    padding: 20px;
    /* border-style: solid | apply the border-style of your border. */
    /* border-width: 10px | Is to apply the width of the border */
    /* border-color: light-green | Is to apply the color of the border */
    /* border-radius: 20px | Is to apply the radius the border how many the weight */
    /* padding: 30px  | Is to apply the padding(espaçamento) of the border */
    /* border-left-(something)  | Is to apply something in the border left example: apply weight, color etc. */
    /* border-right-(something) | Is to apply something in the border right example: font, radius etc. */

    color: blue;
    font-family: "Minecraft Ten", "star serif";
    /* If i apply more fonts after the first font if the first font is not supported he use the next font */
}

h2 {

    border-left-style: solid;
    border-right-style: outset;
    border-left-width: 5px;
    border-right-width: 5px;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
    font-style: oblique;
    text-decoration: darkblue wavy underline;

    /* text-decoration |  Is to apply some decoration in the text.Example: underline, solid etc. 
    I can choose the color of the decoration putting the name of color.
    I can choose the type of the decoration. Example: wavy */

    /* font-style:  | Is to apply the style of the font */
    /* font-weight: | Is to apply the weight of the font */
    /* font-family: | Is to apply a font of your choice */
    /* font-size:   | Is to apply a size of font of your choice */
}


#Minecraft {
    /* How to add margin in css! */
    /* margin = space AROUND an element */
    background-color: yellow;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;

    margin-top: 40%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50%;


    /* margin-top: 30px  | Is to apply how many weight of the top is distanced in the start of the site
    margin-left: 30px  | Is to apply how many weight of the left is distanced in the start of the site
    margin-right: 30px  | Is to apply how many weight of the right is distanced in the start of the site
    margin-bottom: 30px  | Is to apply how many weight of the down is distanced in the start of the site */


    /* margin-top: 30%  | Is to apply when you unmaximaze the site how many % is the start the site of up
    margin-left: 30%  | Is to apply when you unmaximaze the site how many % is the start the site of left
    margin-right: 30%  | Is to apply when you unmaximaze the site how many % is the start the site of right
    margin-bottom: 30%  | Is to apply when you unmaximaze the site how many % is the start the site of down */

}

#Bolsonaro {
    /* How to add float in css! */
    /* Float = positions an element to the left or right in the site */

    margin-top: 10px;
    background-color: aqua;

    float: right;
}



/* This alteration aplicated in all sites when you write: <link rel='' and after href=''>
/* And cost less time to write your sites.*/

    /*How to specify a text to paint your text*/
    #p2 {
        color: green
    }



    /* How to indicate a text through the classes */
    .odd {
        background-color: yellowgreen;
        color: violet
    }

    .even {
        background-color: turquoise;
        color: tomato;
    }


    /* How to add fonts in your CSS! */